{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheet" href="{%static 'assets/css/backend/iha/create.css'%}">
{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Iha Oluşturma</h4>
            </div>
            <div class="card-body">
                <form id="createIhaForm" enctype="multipart/form-data">
                    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="IHA Adı" name="name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Model Number"
                                        name="model_number">
                                </div>
                                <div class="form-group">
                                    <select class="category-multiple col-12" name="category[]" multiple="multiple">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="brand-multiple col-12" name="brand">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Weight" name="weight">
                                </div>
                                <div class="custom-file">
                                    <input type="file" name="image" class="custom-file-input" id="image">
                                    <label class="custom-file-label" for="image">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <textarea rows="10" type="text" style="margin-top: 20px" class="form-control" placeholder="Description"
                                    name="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{%static 'assets/js/backend/iha/create.js'%}"></script>
{% endblock javascripts %}
