SECRET_KEY=django-insecure-97s)x3c8w8h_qv3t3s7%)#k@dpk2edr0ed_(rq9y(rbb&_!ai%
DEBUG=1
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=luploq_dev
SQL_USER=luploq
SQL_PASSWORD=luploq
SQL_HOST=postgres_db
SQL_PORT=5432
CELERY_BROKER_URL=redis://redis:6379
SCRAPER_URL=http://scraper:8002/
WORK_ENVIRONMENT="prod"
chromedriver=/usr/lib/chromium-browser/chromedriver #  on server
