{% extends "registration/auth-base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Giriş
          </h4>
        </div>
        <div class="card-body text-center">

          <h6 class="card-category">
              Giriş Bilgilerinizi gg
          </h6>
          
          <br />

          <form role="form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% comment %} <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Username</label>
                  <input type="text" class="form-control" required name="username" placeholder="Username">
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Password</label>
                  <input type="password" name="password" required class="form-control" placeholder="Password">
                </div>
              </div>
            </div> {% endcomment %}

            <br />

            <button type="submit" name="login" class="btn btn-primary pull-center">Giriş</button>

            &nbsp; &nbsp; 
          <span class="pull-center">
              Hesabınız yok mu? <a href="{% url 'signup' %}" class="text-primary">Oluştur</a>
            </span> 

            <div class="clearfix"></div>

          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
